body {font-size:large;
    display:flex;
    justify-content:center}
.wrapper {width: 70%;
    background-color:rgb(129, 129, 128);
height:200vh}
h1,h2 
{background: black;
    border-style:outset;    
    color:rgb(207, 16, 16);
    font-style:italic;
}

.contact {color: rgb(255, 255, 255);}  
.spanishred {color:red;}
.spanishyellow {color: yellow;}
.italiangreen {color:green;}
.italianwhite {color:white}
li > h3 {
    display: inline;
}
/* comentario */